nav{
    z-index: 5;
	height: 3rem;
	width: 100%;
}
#logo {
    background-image: url(./vitru.io.png);
}


#loginLink {
	-moz-box-shadow: 0px 0px 0px 2px #000000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8e03', endColorstr='#000000',GradientType=0);
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
    color:#030303;
    font-style: italic;
	font-family:'Times New Roman', Times, serif;
	font-size:20px;
	padding:4px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#loginLink:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #ff8e03));
	background:-moz-linear-gradient(top, #fcfafa 5%, #ff8e03 100%);
	background:-webkit-linear-gradient(top, #fcfafa 5%, #ff8e03 100%);
	background:-o-linear-gradient(top, #fcfafa 5%, #ff8e03 100%);
	background:-ms-linear-gradient(top, #fcfafa 5%, #ff8e03 100%);
	background:linear-gradient(to bottom, #fcfafa 5%, #ff8e03 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ff8e03',GradientType=0);
	background-color:#000000;
}
#loginLink:active {
	position:relative;
	top:1px;
}

#signUpLink {
	-moz-box-shadow: 0px 0px 0px 2px #000000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8e03', endColorstr='#000000',GradientType=0);
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#030303;
	font-family:'Times New Roman', Times, serif;
    font-size:20px;
    font-style: italic;
	padding:4px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#signUpLink:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #ff8e03));
	background:-moz-linear-gradient(top, #fcfafa 5%, #ff8e03 100%);
	background:-webkit-linear-gradient(top, #fcfafa 5%, #ff8e03 100%);
	background:-o-linear-gradient(top, #fcfafa 5%, #ff8e03 100%);
	background:-ms-linear-gradient(top, #fcfafa 5%, #ff8e03 100%);
	background:linear-gradient(to bottom, #fcfafa 5%, #ff8e03 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ff8e03',GradientType=0);
	background-color:#000000;
}
#signUpLink:active {
	position:relative;
	top:1px;
}


  .nav-link{
	-moz-box-shadow: 0px 0px 0px 2px #000000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8e03', endColorstr='#000000',GradientType=0);
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
    color:#030303;
    font-style: italic;
	font-family:'Times New Roman', Times, serif;
	font-size:20px;
	padding:4px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.nav-link:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #ff8e03));
	background:-moz-linear-gradient(top, #fcfafa 5%, #4f03ff 100%);
	background:-webkit-linear-gradient(top, #fcfafa 5%, #4f03ff 100%);
	background:-o-linear-gradient(top, #fcfafa 5%, #4f03ff 100%);
	background:-ms-linear-gradient(top, #fcfafa 5%, #4f03ff 100%);
	background:linear-gradient(to bottom, #fcfafa 5%, #4f03ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ff8e03',GradientType=0);
	background-color:#000000;
}
#man:active {
	position:relative;
	top:1px;
}

